<div>
  <h5>Game name:</h5>
  <h6>{{ gameName }}</h6>
  <input (keyup)="onKey($event)" />
  <br /><br />
  <h5>Selected team:</h5>
  <h6>{{ selectedTeam }}</h6>
  <br />
  <button
    (click)="startGame()"
    type="submit"
    class="btn btn-primary"
    [disabled]="!gameName || !selectedTeam"
  >
    Start game
  </button>
  <button routerLink="/list-games" class="btn btn-primary">
    View games
  </button>

  <div *ngIf="stateGame">
    Current Game: <br />
    Name:
    <span>{{ stateGame.name }}</span
    ><br />
    Team:
    <span>{{ stateGame.team }}</span>
  </div>
</div>
